<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <!-- ***** ERROR ALERT ***** -->
      <div ng-show="error" class="alert alert-danger alert-dismissible" role="alert">
        <button ng-click="error = false" type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Status: {{error.status}}</strong> {{error.statusText}}
      </div>
      <!-- ***** END ERROR ALERT ***** -->

      <h1>DR Annotation Tool</h1>

      <!-- ***** SELECT CHAPTER ***** -->
      <label for="selectChapter">Select Chapter</label>
      <select id="selectChapter" class="form-control" name="selectChapter" ng-model="selectChapter" ng-change="loadChapter()">
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <!-- ***** END SELECT CHAPTER ***** -->

      <h2 ng-show="selectChapter">Chapter {{selectChapter}}</h2>
      <button class="btn btn-primary" ng-click="saveJSON()">Export Annotations JSON</button>
      <div>
        <h4>
          <label><strong>Categories: </strong></label>
          <span class="PERSON">Person</span>
          <span class="LOCATION">Location</span>
          <span class="ORGANIZATION">Organization</span>
        </h4>


      </div>
      <p dynamic ng-bind-html="annotatedChapterText" ng-mouseup="addAnnotation($event)" ng-click="delete($event)" ng-hide="annotateMode"></p>
    </div>

    <!-- ***** ADD ANNOTATION PANEL ***** -->
    <div id="add-annotation-panel" ng-show="newAnnotation" class="col-sm-4 panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Add Annotation</h3>
      </div>
      <form ng-submit="saveAnnotation()">
        <div class="panel-body" ng-model="newAnnotation">
          <label><strong>Select Category: </strong></label>
          <label class="radio PERSON">
            <input type="radio" ng-model="category" name="categoryOptions" value="PERSON">
            Person
          </label>
          <label class="radio LOCATION">
            <input type="radio" ng-model="category" name="categoryOptions" value="LOCATION">
            Location
          </label>
          <label class="radio ORGANIZATION">
            <input type="radio" ng-model="category" name="categoryOptions" value="ORGANIZATION">
            Organization
          </label>
          <div>
            <label><strong>Text: </strong></label>
            <em>{{newAnnotation.text}}</em>
          </div>
          <button type="submit" class="btn btn-default center-block">Save Annotation</button>
        </div>
      </form>
    </div>
    <!-- ***** END ADD ANNOTATION PANEL ***** -->

  </div> <!-- END ROW -->
</div> <!-- END CONTAINER -->
