<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <!-- ERROR ALERT -->
      <div ng-show="error" class="alert alert-danger alert-dismissible" role="alert">
        <button ng-click="error = false" type="button" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Status: {{error.status}}</strong> {{error.statusText}}
      </div>
      <!-- END ERROR ALERT -->

      <h1>DR Annotation Tool</h1>

      <!-- SELECT CHAPTER -->
      <label for="selectChapter">Select Chapter</label>
      <select id="selectChapter" class="form-control" name="selectChapter" ng-model="selectChapter" ng-change="loadChapter()">
        <option value="01">1</option>
        <option value="02">2</option>
        <option value="03">3</option>
        <option value="04">4</option>
        <option value="05">5</option>
        <option value="06">6</option>
        <option value="07">7</option>
        <option value="08">8</option>
        <option value="09">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
      </select>
      <!-- END SELECT CHAPTER -->

      <h2 ng-show="selectChapter">Chapter {{selectChapter}}</h2>
      <p ng-bind-html="annotatedChapterText" ng-mouseup="selectText($event)"></p>
    </div>
    <div class="col-sm-4">
      <h1>{{sub}}</h1>
      <ul class="list-unstyled">
        <li ng-repeat="annotation in annotationArray">
          <div>
            <h5 class="category">{{ annotation._category }}</h5>
            <p>
              <em>
                {{ annotation.extent.charseq.__text }}
              </em>
              <small>
                Start: {{ annotation.extent.charseq._START }}
                End: {{ annotation.extent.charseq._END }}
              </small>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
