<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1>DR Annotation Tool</h1>
      <h2>{{chapterTitle}}</h2>
      <p ng-bind-html="chapterText" ng-mouseup="selectText($event)"></p>
    </div>
    <div class="col-sm-4">
      <ul class="list-unstyled">
        <li ng-repeat="annotation in annotationArray">
          <div>
            <h5 class="category">{{ annotation._category }}</h5>
            <p>
              <em>
                {{ annotation.extent.charseq.__text }}
              </em>
              <small>
                Start: {{ annotation.extent.charseq._START }}
                End: {{ annotation.extent.charseq._END }}
              </small>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
