body {
  margin-top: 53px;
}

.PERSON {
  background-color: #FFFF00;
}

.LOCATION {
  background-color: #00FF00;
}

.ORGANIZATION {
  background-color: #FF0000;
}

#add-annotation-panel {
  position: fixed;
  top: 60px;
  right: 25px;
}


