body {
  margin-top: 50px;
}

span.PERSON {
  background-color: #FFFF00;
}

span.LOCATION {
  background-color: #00FF00;
}

span.ORGANIZATION {
  background-color: #FF0000;
}

span.hilite {
  background-color: #FFFF00;
}
